# Your show page should render the specific coupon passed to the route. 
# E.g., coupons/4 should show the coupon with an ID of 4.
# dynamic page

<h1> Coupon Code: <%= @coupon.coupon_code %> </h1>
<h1> Store: <%= @coupon.store %> </h1>